<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>
<body>
<h1 class="text-center text-secondary mt-3">Search Knowledge Graph</h1>
<form class="text-center my-4" action="{{ url_for('index') }}" id="search-form" method="POST" >
    <div class="form-group">
        <div class="input-group mb-3 w-50 mx-auto">
            <div class="input-group-prepend">
                <span class="input-group-text btn btn-secondary" id="basic-addon1">Search Term</span>
            </div>
            <input type="text" id="search-term" name="search-term" class="form-control" placeholder="Enter Search Term...." aria-label="Username" aria-describedby="basic-addon1" required>
        </div>
    </div>
        <div class="form-group">
        <div class="input-group mb-3 w-50 mx-auto">
            <div class="input-group-prepend">
                <span class="input-group-text btn btn-secondary" id="basic-addon1">Knowledge Graph URI</span>
            </div>
            <input type="url" value="https://blazegraph.virtualtreasury.ie/blazegraph/namespace/b2022/sparql" id="graph-uri" name="graph-uri" class="form-control" placeholder="Enter Graph URI...." aria-label="Username" aria-describedby="basic-addon1" readonly>
        </div>
    </div>
    <button type="submit" id="search-button" class="btn btn-primary mt-3">Search</button>
<div class="spinner-border my-3" id="spinner" role="status" style="display:none;">
</div>
</form>

<div id="search-results" style="display:none;">
    <h3 class="px-2 text-decoration-underline">Results</h3>
    <table id="search-results-table" class="table table-striped mx-auto">
        <thead>
        <tr>
            <th scope="col">#</th>
        </tr>
        </thead>
        <tbody id="search-results-table-body">
        </tbody>
    </table>
</div>

<div id="search-result-message" class="text-center h3" style="display:none;"></div>

</body>
</html>


<script>
    $(document).on('submit','#search-form',function(e){
      e.preventDefault();
      $("#search-result-message").hide();
      $("#search-results").hide();
      $("#search-button").hide();
      $("#spinner").show();
      $("#search-results-table-body").empty();
      $.ajax({
        type:'POST',
        url:'{{ url_for('search_graph') }}',
        data:{
            search_term:$('#search-term').val(),
            graph_uri:$('#graph-uri').val(),
        },
        success:function(response)
        {
            if (jQuery.isEmptyObject(response)) {
                $("#search-result-message").text("No results from SPARQL Query").show();
                $("#spinner").hide();
                $("#search-button").show();
                return false;
            }
            var dict_keys = Object.keys(response[0]);
            $.each(dict_keys, function (i, v) {
               $('#search-results-table >thead tr').append('<th>' + v + '</th>');
            });
            var result_counter  = 0;
            $.each(response, function (i, v) {
              // console.log(i);
              // console.log(v);
              var new_table_row = '<th scope="row">' + result_counter + '</th>';
              $.each(v, function (idx, val) {
                 console.log(idx);
                 console.log(val);
                 if (!val.startsWith("http")) {
                     new_table_row = new_table_row + "<td>" + val + "</td>";
                 }
                 else {
                      new_table_row = new_table_row + "<td><a href='" + val + "'>" + val + "</td>";
                 }
              });
              $('#search-results-table tr:last').after('<tr>' + new_table_row + '</tr>');
              result_counter = result_counter + 1;
            });
            $("#search-results").show();
            $("#spinner").hide();
            $("#search-button").show();

        }
      });
    });
</script>